<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
<h1>A little Chess-Project</h1>

<h2>About</h2>
<p>
    Unfortunately I only had a very limited time for this project.
    I chose chess because a lot of things here are not dependent on interpretations.
    That would be different with a pure fantasy project. <b>The game is of course not finished.</b>
    Castling is not possible, nor are moves of the king unblocked if this would put him in check.
</p>

<h2>Used Frameworks</h2>
<div>
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/threejs/threejs-original-wordmark.svg" />
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg" />
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg" />
</div>

<button routerLink="/game">Look at the result &gt;</button>

<p>
    <small>Chess Models from <a href="https://github.com/Rashair/WebGL-Chess" target="_blank">https://github.com/Rashair/WebGL-Chess</a></small>
</p>
